<app-header></app-header>
<app-slider></app-slider>
    <div class="center">
        <section id="content">
            <h2 class="subheader">Últimos artículos</h2>

            <!-- Listado articulos -->
        <div id="articles">
            <article class="article-item" id="article-template">
                
            </article>
        </div>
        </section>

    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>

    </div>
<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
